body {
  margin: 0;
  z-index: -1;
  background-color: #ffffff;
}

html {
  margin: 0;
}

.header_text {
  margin: 20px;
  display: flex;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 3px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.logo_text {
  margin: 20px;
  display: flex;
  font-family: 'Alexandria', sans-serif;
  letter-spacing: 3px;
  font-size: 30px;
}

.header {
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  height: 134px;
  align-items: center;
  width: auto;
}

.text {
  display: flex;
  height: 134px;
  align-items: center;
  margin-left: 565px;
  width: 2000px;
}

.header_img {
  width: 141px;
  height: 134px;
}

.Menu_text {
  color: #351700;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  margin-top: 10px;
  font-size: 40px;
  margin-left: 40px;
  letter-spacing: 1px;
  display: block;
}

.Menu {
  color: #3f1c00;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  margin-top: 150px;
  font-size: 40px;
  margin-left: 40px;
  letter-spacing: 1px;
  display: flex;
}

.item {
  font-size: 30px;
  margin-bottom: 30px;
  display:flex;
  flex: 0.5;
}

.descrption {
  margin-left: 50px;
  font-size: 20px;
  margin-top: -17px;
}

.item_img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgb(255, 255, 255), 0px 0px 0px black, 0px 0px 0px black;
}

.Items_colomn1{
  margin-right: 150px;
}

.Items_colomn2 {
  margin-left: 150px;
  width: 300px;
}

.top_container {
  background-color: #ffffff;
  margin-top: -20px;
  padding: 10px;
}

html {
  background: linear-gradient(140deg,rgb(255, 255, 255),rgb(255, 222, 181),rgb(255, 200, 123),rgb(255, 200, 123),rgb(255, 222, 181),rgb(255, 255, 255));
}

.dish_name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

